log4jConfiguration: "/opt/transport/spqr/spqr-resman/etc/log4j.properties"
componentRepositoryFolder: "/opt/transport/spqr/spqr-resman/repo/"

httpClient:
  timeout: 500ms
  connectionTimeout: 500ms
  timeToLive: 1h
  cookiesEnabled: false
  maxConnections: 1024
  maxConnectionsPerRoute: 1024
  keepAlive: 0ms
  retries: 0
  userAgent: spqr-resman/0.2  

server:
  applicationConnectors:
    - type: http
      port: 9090
  adminConnectors:
    - type: http
      port: 9091

logging:

  level: INFO

  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
    com.ottogroup.bi.spqr: DEBUG

  appenders:
    - type: file
      threshold: DEBUG
      logFormat: "%-6level [%d{HH:mm:ss.SSS}] [%t] %logger{5} - %X{code} %msg %n"
      currentLogFilename: /opt/transport/spqr/spqr-resman/log/spqr-node.log
      archivedLogFilenamePattern: /opt/transport/spqr/spqr-resman/log/spqr-resman-%d{yyyy-MM-dd}.log
      archivedFileCount: 7
      timeZone: UTC

