spqrNode:
  log4jConfiguration: "/opt/streaming/spqr/spqr-node/etc/log4j.properties"
  numOfThreads: 0
  temporaryQueueFolder: "/opt/streaming/spqr/spqr-node/queues"
  componentRepositoryFolder: "/opt/streaming/spqr/spqr-node/repo/"

  host: "localhost"
  protocol: "http"
  servicePort: 7070
  adminPort: 7071
  
  #spqrMetrics:
  #  attachMemoryUsageMetricCollector: true
  #  attachFileDescriptorMetricCollector: true
  #  attachClassLoadingMetricCollector: true
  #  attachGCMetricCollector: true
  #  attachThreadStateMetricCollector: true
  #  metricsReporter:
  #  - id: "kafka"
  #    type: "KAFKA"
  #    period: 5
  #    settings:
  #      zookeeperConnect: "localhost:2181"
  #      brokerList: "localhost:9092"
  #      topicId: "nodemetrics"
  #      clientId: "sampleClient"  

resourceManager:
  mode: LOCAL
  protocol: "http"
  host: "localhost"
  port: 9090  
  
httpClient:
  timeout: 500ms
  connectionTimeout: 500ms
  timeToLive: 1h
  cookiesEnabled: false
  maxConnections: 1024
  maxConnectionsPerRoute: 1024
  keepAlive: 0ms
  retries: 0
  userAgent: spqr-node/0.2  

server:
  applicationConnectors:
    - type: http
      port: 7070
  adminConnectors:
    - type: http
      port: 7071

logging:

  level: INFO

  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
    com.ottogroup.bi.spqr: DEBUG

  appenders:
    - type: file
      threshold: DEBUG
      logFormat: "%-6level [%d{HH:mm:ss.SSS}] [%t] %logger{5} - %X{code} %msg %n"
      currentLogFilename: /opt/streaming/spqr/log/spqr-node/spqr-node.log
      archivedLogFilenamePattern: /opt/streaming/spqr/spqr-node/log/spqr-node-%d{yyyy-MM-dd}.log
      archivedFileCount: 7
      timeZone: UTC

